<style>
    #map {
        height: 600px;
        width: 800px;
    }
</style>

<div class="row">
    <div id="map"></div>
    <script>
            var map;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: 42.987162, lng: -87.903224 },
                    mapTypeId: google.maps.MapTypeId.SATELLITE,
                    zoom: 14
                });

                addMarker({
                    coords: { lat: 42.992725, lng: -87.904574 },
                    iconImage: 'http://maps.google.com/mapfiles/kml/shapes/man.png',
                    content: "Andrew Bosh"
                });

                var contentString = '<div id="content">' +
         '<div id="siteNotice">' +
         '</div>' +
         '<h1 id="firstHeading" class="firstHeading">John Razinsky</h1>' +
         '<div id="bodyContent">' +

         '</div>' +
         '</div>';
                addMarker({
                    coords: { lat: 42.977555 , lng: -87.909121 },
                    iconImage: 'http://maps.google.com/mapfiles/kml/shapes/man.png',
                    content: contentString



                });

                var contentString2 = '<div id="content">' +
    '<div id="siteNotice">' +
    '</div>' +
    '<h1 id="firstHeading" class="firstHeading">Dominic Zizzo</h1>' +
    '<div id="bodyContent">' +



    '</div>' +
    '</div>';
                addMarker({
                    coords: { lat: 42.976977, lng: -87.909173 },
                    iconImage: 'http://maps.google.com/mapfiles/kml/shapes/man.png',
                    content: contentString2
                });

                var contentString1 = '<div id="content">' +
    '<div id="siteNotice">' +
    '</div>' +
    '<h1 id="firstHeading" class="firstHeading">Antony Rizo</h1>' +
     '<div id="bodyContent">' +


    '</div>' +
    '</div>';

                    addMarker({
                        coords: { lat: 31.874213, lng: -102.375094 },
                        iconImage: 'http://maps.google.com/mapfiles/kml/shapes/man.png',
                        content: contentString1
                    });


                    var contentString6 = '<div id="content">' +
'<div id="siteNotice">' +
'</div>' +
'<h1 id="firstHeading" class="firstHeading">Mikola Zhmendak</h1>' +
'<div id="bodyContent">' +


'</div>' +
'</div>';

                    addMarker({
                        coords: { lat: 42.987162, lng: -87.903224 },
                        iconImage: 'http://maps.google.com/mapfiles/kml/shapes/man.png',
                        content: contentString6
                    });



                    var contentString7 = '<div id="content">' +
'<div id="siteNotice">' +
'</div>' +
'<h1 id="firstHeading" class="firstHeading">Peter Raniky</h1>' +
'<div id="bodyContent">' +


'</div>' +
'</div>';

                    addMarker({
                        coords: { lat: 42.964461, lng: -87.903770 },
                        iconImage: 'http://maps.google.com/mapfiles/kml/shapes/man.png',
                        content: contentString7
                    });



                    function addMarker(props) {

                        //  var image = 'http://maps.google.com/mapfiles/kml/shapes/man.png';
                        var marker = new google.maps.Marker({
                            position: props.coords,
                            map: map,
                            icon: props.iconImage

                        });
         if (props.content) {
                        var infoWindow = new google.maps.InfoWindow({
                            content: props.content
                        });
                        marker.addListener('click', function () {
                            infoWindow.open(map, marker)
                        });

                    }
                }
            }



    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDAVUCRfT4tOXt1ThRoWc4SSPBgVUXkUP4&callback=initMap">
    </script>
</div>
